@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
}

.heading {
    width: 100%;
    margin: 10px;
    background-color: #2453D3;
    text-align: center;
}

.flex-container {
    width: 960px;
    display: flex;
    flex-direction: row;
}

.flex-container > div {
    margin-left: 10px;
    padding-left: 10px;
}

.flip-card {
    width: 300px;
    height: 400px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: #2453D3;
    color: black;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 300px;
    height: 400px;
}

.nav{
    background: #2453D3;
    color: white;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
svg{
    /* translate: 0 3px; */
}
.all-categories{
    display: flex;
    background-color: white ;
    padding: 15px 15px;
    /* height: 70px; */
    /* translate: 0 -10px; */
    align-items: center;
    justify-content: center;
    color: #2453D3;
    border-radius: 4px;
    transition: 0.4s;
}
.all-categories:hover {
    color: white;
    background-color: black;
};
.nav-title{
    padding: 16px 40px;
    text-align: center;
    font-family: 'Sigmar', cursive;
    letter-spacing: 5px;
    font-size: 30px;
}
.nav-menu{
    width: 100%;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu ul li{
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
    transition: 0.4s;
}
.nav-menu ul li:hover{
    color: rgba(0, 0, 0, 0.7);
}

footer{
    margin-top: 50px;
    height: 200px;
    background-color: #2453d387;
}
.footer{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.copyright {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.social-icons-box{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.social-icons img {
    max-height: 50px;
    max-height: 50px;
    margin-right: 80px;
    transition: all 0.2s;
    border-radius: 999px;
    overflow: hidden;
}
.instagram:hover{
    border-radius: 999px;
}
.github:hover{
    border-radius: 999px;
}
.youtube:hover{
    border-radius: 999px;
}
.twitter:hover{
    border-radius: 999px;
}
.facebook:hover{
    border-radius: 999px;
}
.social-icons img:hover{
    scale: 150%;
}

.columns {
    display: flex;
}

.left-column {
    width: 70%;
}

.right-column img {
    width: 300px;
    height: 400px;
}
hr {
    margin: 40px;
    border: solid #2453D3;
}

.right-column {
    width: 30%;
}